.imageContainer{
	background-color: #e5fbff;
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.imageContainer img{
	width: 0px;
	height: 0px;
}
#boardContainer{
	margin: auto;
	width: 880px;
}